<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxi.dao.MenuDao">
    <resultMap id="menu" type="com.chenxi.empty.Menu">
        <id property="mId" column="id"></id>
        <!--<result property="mId" column="id"></result>-->
        <result property="mName" column="mName"></result>
        <result property="mUrl" column="mUrl"></result>
        <result property="mCreateTime" column="mLevel"></result>
        <result property="mCreateName" column="mCreateName"></result>
        <result property="mParentId" column="mParentId"></result>
        <result property="mLevel" column="id"></result>
        <collection property="mChilds" ofType="menu" column="id" select="findChilds"></collection>
    </resultMap>
    <select id="findAll" resultMap="menu">
        SELECT * FROM menu_t WHERE mParentId=0 ORDER BY id ASC
    </select>
    <select id="findChilds" resultType="com.chenxi.empty.Menu">
        SELECT * FROM menu_t WHERE mParentId=#{id} ORDER BY id ASC
    </select>
</mapper>
