<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxi.dao.MenuDao">
    <resultMap id="menu" type="com.chenxi.empty.Menu">
        <id property="id" column="id"></id>
        <result property="name" column="mName"></result>
        <result property="url" column="mUrl"></result>
        <result property="createTime" column="mLevel"></result>
        <result property="createName" column="mCreateName"></result>
        <result property="parentId" column="mParentId"></result>
        <result property="level" column="id"></result>
        <collection property="childs" ofType="menu" column="id" select="findChilds"></collection>
    </resultMap>
    <select id="findAll" resultMap="menu">
        SELECT * FROM menu_t WHERE mParentId=0 ORDER BY id ASC
    </select>
    <select id="findChilds" resultType="com.chenxi.empty.Menu">
        SELECT * FROM menu_t WHERE mParentId=#{id} ORDER BY id ASC
    </select>
</mapper>
